<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="info.omuch.o.t.WellingtonTrains.Android">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="12" />
	<application android:label="Wellington Trains" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>